<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./styles/general.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a> 
        <a href="/work">Work</a>
        <a href="/galery">Gallery</a>
      </nav>
    <div id="image-gallery">
        <h2> G A L E R I A</h2>
        <img src="./img/bat1.jpeg" alt="Image 1">
        <img src="./img/bat2.jpeg" alt="Image 2">
        <img src="./img/bat3.jpeg" alt="Image 3">
        <img src="./img/bat4.jpeg" alt="Image 4">
        <img src="./img/bat5.jpeg" alt="Image 5">
        <img src="./img/bat6.jpeg" alt="Image 6">
        <img src="./img/bat7.jpeg" alt="Image 7">
        <img src="./img/bat8.jpeg" alt="Image 8">
        <img src="./img/bat9.jpeg" alt="Image 9">
        <img src="./img/bat10.jpeg" alt="Image 10">
        <img src="./img/bat11.jpeg" alt="Image 11">
        <img src="./img/bat12.jpeg" alt="Image 12">
        <img src="./img/bat13.jpeg" alt="Image 13">
        <img src="./img/bat14.jpeg" alt="Image 14">
      </div>
      
</body>
</html>