<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./styles/general.css">
  </head>
  <body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a> 
        <a href="/work">Work</a>
      </nav>
    <h2>El trabajo de Batman</h2>
    <p>
      <span>Bruce Waynel </span>es empresario, y si bien no podemos tener muy
      claro en qué momento asumió ese rol después de la muerte de su padre,
      podemos suponer que sus habilidades como administrador de empresas han
      jugado un papel importante en el cuidado de las finanzas. Gracias a su
      fortuna puede financiarse todos esos “juguetes”, como el
      <span>batimóvil.</span>
    </p>
    <h3>¿Quién es Batman sin su traje?</h3>
    <p>
      <span>Batman</span> sin su traje es un multimillonario, un hombre de negocios, un
      artista marcial, un genio, un estratega, un supercientífico, un detective,
      un escapista, un maestro de las pistas y un héroe. 
      Batman no es nada sin su traje porque Batman no es solo su traje. <span>Batman es Batman, siempre.</span>
    </p>
  </body>
</html>
